<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function updatestore() {
    var storeid = document.getElementById('storeid').value;
    var title = document.getElementById('title').value;
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    var location = document.getElementById('location').value;
    var mobile = document.getElementById('mobile').value;
     if(title==""){
        alert('enter title');
    }
    else if(email==""){
        alert('enter email');
    }
    else if(password==""){
        alert('enter password');
    }
    else if(location==""){
        alert('enter location');
    }
    else if(mobile==""){
        alert('enter mobile');
    }
    else if(mobile.length!=10){
        alert('mobile must be of 10 digits and in numeric')
    }
    else {
         var xml = new XMLHttpRequest();
         xml.onreadystatechange = function () {
             if (this.readyState == 4 && this.status == 200) {
                 var ar = JSON.parse(this.response);
                 document.getElementById('sp1').innerHTML = ar['message'];
             }
         };
         xml.open('GET', 'updatestoreaction?storeid=' + storeid + '&title=' + title + '&email=' + email + '&password=' + password + '&location=' + location + '&mobile=' + mobile, true);
         xml.send();
     }
}
    </script>
</head>
<body>
{% include 'adminheader.html' %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Update Store</h1>
            <div class="row">
            <div class="form-group">
                <label>Store Id</label>
                <input type="text" value="{{ mydata.storeid }}" id="storeid" class="form-control"  readonly>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Enter Store Title</label>
                <input type="text"  value="{{ mydata.title }}" id="title" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Enter Store Email</label>
                <input type="email"  value="{{ mydata.email }}" id="email" class="form-control" required>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <label>Enter Store Password</label>
                <input type="password" value="{{ mydata.password }}"  id="password" class="form-control" required>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <label>Enter Store Location</label>
                <input type="text" value="{{ mydata.location }}" id="location" class="form-control" required>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <label>Enter Store MobileNumber</label>
                <input type="tel" value="{{ mydata.mobile }}" id="mobile"  class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="button" class="btn btn-success" onclick="updatestore()" value="SUBMIT">
            </div>
        </div>
        <span id="sp1"></span>
    </div>
</div>
</body>
</html>