<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <script>
        function membersignup()
{
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
      var mobile= document.getElementById('mobile').value;
        var parentstore= document.getElementById('parentstore').value;
          var name= document.getElementById('name').value;
            var poc= document.getElementById('poc').value;
              var cardname1= document.getElementById('cardname1').value;
                var cardname2= document.getElementById('cardname2').value;
                  var cardname3= document.getElementById('cardname3').value

      if(mobile==""){
                      alert('enter mobile');
    }
    else if(mobile.length!=10) {
          alert('mobile number must be 10 digit');
      }
    else if(parentstore==""){
                      alert('choose store');
      }
      else if(name==""){
                      alert('enter name');
      }
      else if(poc==""){
                      alert('enter poc');
      }
       else if(email.indexOf('@')==-1||email.lastIndexOf('.')<email.indexOf('@')){
                      alert('invalid email');
    }
    else if(password==""){
                      alert('enter password');
    }
     else if(cardname1==""){
                      alert('enter addoncard1');
    }
     else if(cardname2==""){
                      alert('enter addoncard2');
    }
     else if(cardname3==""){
                      alert('enter addoncard3');
    }
  else{
          var formdata = new FormData();
    formdata.append('email',email);
    formdata.append('password',password);
    formdata.append('parentstore',parentstore);
    formdata.append('mobile',mobile);
    formdata.append('poc',poc);
    formdata.append('name',name);
    formdata.append('cardname1',cardname1);
    formdata.append('cardname2',cardname2);
    formdata.append('cardname3',cardname3);
    var xml = new XMLHttpRequest();
    xml.onreadystatechange = function () {
        if(this.readyState==4 && this.status==200)
        {
            var ar = JSON.parse(this.response);
            if(ar['message']=='Data saved')
            {
                window.location.href = "memberlogin";
            }
            else {
                document.getElementById('sp1').innerHTML = ar['message'];
            }
        }
    };
    xml.open('POST','membersignupaction',true);
    xml.send(formdata);
      }



}
function hidediv() {
    document.getElementById('divform').style.display='none';
}
var sentotp="";
function sendotp() {
    var mobile=document.getElementById('mobile').value;
     if(mobile==""){
                      alert('enter mobile');
    }
    else if(mobile.length!=10) {
          alert('mobile number must be 10 digit');
      }
      else{
          var xml = new XMLHttpRequest();
    xml.onreadystatechange = function () {
        if(this.readyState==4 && this.status==200)
        {
            var ar =this.response.trim();
            sentotp=ar;
            alert('otp sent on mobile/verify and proceed')

             var ans="<div class=\"row\">\n" +
        "            <div class=\"form-group\">\n" +
        "                <label style=\"color: white\">Enter Otp/Check Mobile</label>\n" +
        "                <input type=\"tel\" id=\"otp\" class=\"form-control\" placeholder=\"enter otp sent on phone\">\n" +
        "                <br><button onclick=\"verifyotp()\" class=\"btn btn-info\">Verify  OTP</button>\n" +
        "            </div>\n" +
        "        </div>";
            document.getElementById('divotp').innerHTML=ans;
        }
    };
    xml.open('GET','sendotponphone?mobile='+mobile,true);
    xml.send();
     }

}

function verifyotp() {
   var otp=document.getElementById('otp').value;
   if (otp==sentotp){
       document.getElementById('btnotp').style.display='none';
       document.getElementById('mobile').setAttribute('readonly',true);
       document.getElementById('divotp').style.display='none';
       document.getElementById('divform').style.display='block';
   }
   else{
       alert('otp not match');
   }
}

    </script>
</head>
<body style="background-image: url({% static '/media/images/b1.jpg' %});background-repeat: no-repeat; background-size: cover" onload="hidediv()">
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Member Signup</h1>

        <div class="row">
            <div class="form-group">
                <label style="color: white">Enter Mobile No</label>
                <input type="tel" id="mobile" class="form-control" placeholder="mobile must be 10 digit and in numeric"><br>
                <button id="btnotp" onclick="sendotp()" class="btn btn-info">Verify Mobile/Send OTP</button>
            </div>
        </div>
     <div id="divotp">

     </div>
       <div id="divform">
            <div class="row">
                <div class="form-group">
                    <label style="color: white">Select Store</label>
                    <select  id="parentstore" class="form-control" data-rule-required="true"
                            data-msg-required="Please Select Store" >
                    <option value="">Choose</option>
                        {% for p in mydata %}
                            <option value="{{ p.storeid }}">{{ p.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <div class="row">
            <div class="form-group">
                <label style="color: white">Enter name</label>
                <input type="text" id="name" placeholder="enter name" class="form-control">
            </div>
        </div>
     <div class="row">
            <div class="form-group">
                <label style="color: white">Enter POC</label>
                <input type="text" id="poc" placeholder="enter poc" class="form-control">
            </div>
        </div>
     <div class="row">
            <div class="form-group">
                <label style="color: white">Enter Email</label>
                <input type="email" id="email" placeholder="enter email" class="form-control">
            </div>
        </div>
     <div class="row">
            <div class="form-group">
                <label style="color: white">Enter Password</label>
                <input type="password" id="password" placeholder="choose password" class="form-control">
            </div>
        </div>
     <div class="row">
            <div class="form-group">
                <label style="color: white">Enter AddOnCardName1</label>
                <input type="text" id="cardname1" placeholder="enter AddOnCardName1 " class="form-control">
            </div>
        </div>
     <div class="row">
            <div class="form-group">
                <label style="color: white">Enter AddOnCardName2</label>
                <input type="text" id="cardname2" placeholder="enter AddOnCardName2 " class="form-control">
            </div>
        </div>
    <div class="row">
            <div class="form-group">
                <label style="color: white">Enter AddOnCardName3</label>
                <input type="text" id="cardname3" placeholder="enter AddOnCardName3 " class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="button" class="btn btn-info" onclick="membersignup()" value="SIGNUP">
            </div>
        </div>
       </div>
        <span id="sp1"></span>
    </div>
</div>
</body>
</html>